:root {
  --clr-pink: #f1c9c0;
  --clr-lightBlue: #e4f1f0;
  --clr-darkLightBlue: #c8e2df;
  --clr-yellow: #fbe355;
  --clr-purple: #66379b;
  --clr-blue: #00454e;
  --clr-darkBlue: #003037;
  --clr-black: #292b33;
  --clr-white: #f6f6f6;
  --clr-greyBlue: #336A71;
  --clr-midBlue: #6042ca;
  --clr-lightTurquoise: #D4E8E6;
  --clr-grey: #999999;

  --ff-primary: 'Montserrat', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

html,
body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  background-color: var(--clr-white);
}

/* Primary-nav-bar */

.primary-header {
  padding: 1.5rem 1rem 1.5rem 1rem;
  background: var(--clr-white);
  /* background: linear-gradient(rgba(74, 88, 83, 0.1) 0%, rgba(255, 255, 255, 0) 100%); */
  position: sticky;
  top: 0;
  transition: 500ms;
  z-index: 100;
}

.primary-header-inner {
  display: grid;
  grid-template-columns: auto 1fr 3fr;
  align-items: center;
}

.primary-header a {
  color: var(--clr-black);
  text-decoration: none;
  font-weight: 600;
  white-space: nowrap;
  text-transform: uppercase;
  transition: 400ms;
  display: inline-block;
  width: 100%;
  font-size: 0.75rem;
}

.nav-list a:hover,
.nav-list a:focus {
  color: var(--clr-grey);
}

.nav-list {
  list-style: none;
  display: none;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
  grid-column: 3 / 4;
  gap: 22px;
}

.nav-list li:last-child a {
  background-color: var(--clr-blue);
  padding: 6px 15px;
  border-radius: 100vh;
  color: var(--clr-white);
  border: solid 2px var(--clr-blue);
}

.nav-list li:last-child a:hover,
.nav-list li:last-child a:focus {
  background-color: var(--clr-white);
  color: var(--clr-black);
  border: solid 2px var(--clr-blue);
  opacity: 1;
}

.logo img {
  width: 200px;
  margin-right: 1.5rem;
  margin-top: 5px;
  transition: 500ms;
}

.logo img:hover {
  opacity: 0.6;
}

.nav-list li {
  position: relative;
}

.nav-list a::before {
  content: '';
  display: block;
  height: 2px;
  border-radius: 3px;
  background: var(--clr-grey);
  opacity: 0.8;
  position: absolute;
  bottom: -0.8rem;
  left: 0.05rem;
  right: 0.05rem;
  transform: scale(0, 1);
  transform-origin: center;
  transition: transform cubic-bezier(.75, -0.01, .2, .96) 400ms;
}

.nav-list a:hover::before {
  transform: scale(1, 1);
}

.nav-list li:last-child a:hover::before {
  display: none;
}

.hamburger {
  position: relative;
  display: block;
  width: 35px;
  cursor: pointer;
  grid-column: 4/4;
  transition: 500ms;

  appearance: none;
  background: none;
  outline: none;
  border: none;
}

.hamburger .bar,
.hamburger:before,
.hamburger:after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--clr-black);
  border-radius: 100vh;
  margin: 6px 0px;
  transition: 700ms;
}

.hamburger.is-active .bar {
  opacity: 0.4;
  transform: scaleX(0);
}

.hamburger.is-active:before {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.hamburger.is-active:after {
  transform: rotate(45deg) translate(-6px, -6px);
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  min-height: 100vh;
  display: block;
  background-color: var(--clr-white);
  padding-top: 40px;
  margin-top: 100px;
  z-index: 100;
  transition: 600ms cubic-bezier(.45, .26, .18, 1);
}

.mobile-nav.is-active {
  left: 0;
}

.mobile-nav a {
  display: block;
  width: fit-content;
  margin: 0 auto 21px;
  text-align: center;
  padding: 7px 18px;
  border-radius: 100vh;
  border: solid 2px var(--clr-blue);

  color: var(--clr-black);
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  transition: 500ms;
}

.mobile-nav li:last-child a {
  background-color: var(--clr-blue);
  color: var(--clr-white);
}

.hero-container {
  display: grid;
  grid-template-columns: 1fr 5fr 5fr;
  grid-template-rows: 5rem auto auto 20rem;
  overflow: hidden;
  transition: 500ms;
}

.hero-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center center;
  overflow: hidden;
  /* z-index: -90; */
}

.heroA {
  background-image: url(img/beautiful-aerial-shot-fronalpstock-mountains-switzerland-beautiful-pink-blue-sky.jpg);
}

.heroB {
  background-image: url(img/east-verde-river-near-north-sycamore-creek-apache-sitgreaves-national-forest-arizona.jpg);
}

.heroC {
  background-image: url(img/tall-trees-forest-mountains-covered-with-fog.jpg);
}

.heroSlides {
  display: none;
}

.hero-mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(img/mask3.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  background-position: center center;
  overflow: hidden;
  /* z-index: -89; */
}

.hero-container h1 {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
  color: var(--clr-black);
  font-size: 0.95rem;
  z-index: -80;
  transition: 500ms;
  opacity: 0.7;
  text-align: left;
  z-index: 90;
}

.hero-container h2 {
  grid-column: 2 / 4;
  grid-row: 3 / 3;
  color: var(--clr-black);
  font-size: 2rem;
  line-height: 2.18rem;
  z-index: -80;
  transition: 500ms;
  text-align: left;
  z-index: 90;
  margin: 0;
}

.hero-container h2>span {
  color: var(--clr-purple);
}

/* .heroFade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {opacity: 0.5} 
  to {opacity: 1}
} */


@media screen and (min-width: 680px) {
  .nav-list {
    display: flex;
  }

  .hamburger {
    display: none;
  }

  .hero-container {
    grid-template-rows: 9rem auto auto 20rem;
  }

  .hero-container h1 {
    font-size: 1.18rem;
  }

  .hero-container h2 {
    font-size: 2.5rem;
    line-height: 2.8rem;
  }
}

@media screen and (min-width: 1000px) {
  .logo img {
    width: 260px;
    margin-right: 5rem;
  }

  .primary-header {
    padding: 1.5rem 6rem 1.5rem 6rem;
  }

  .primary-header a {
    font-size: 0.9rem;
  }

  .nav-list li:last-child a {
    padding: 7px 18px;
  }

  .hero-container {
    grid-template-rows: 10rem auto auto 20rem;
  }

  .hero-container h1 {
    font-size: 1.5rem;
  }

  .hero-container h2 {
    font-size: 3.2rem;
    line-height: 3.5rem;
  }
}

@media screen and (max-width: 284px) {
  .logo img {
    width: 165px;
    margin-right: 0.5rem;
  }

  .hamburger {
    scale: 0.7;
  }

  .primary-header-inner {
    grid-template-columns: auto 1fr;
  }

  .mobile-nav a {
    margin: 0 auto 15px;
    scale: 0.85;
  }
}

/* Rec */

/* .recruitment-container {
  
} */

.recruitment-container img {
  width: 100vw;
}

/*HR-HTML*/

h2 {
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 40px;
  color: #565966;
  text-align: center;
  margin: 0 1rem;
  transition: 500ms;
}

h3 {
  font-size: 0.938rem;
  font-weight: 500;
  line-height: 17px;
  margin-bottom: 15px;
  text-align: center;
  transition: 500ms;
}

.subsite-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 70px 0px 30px 0px;
  transition: 500ms;
}



.humanResources-grid {
  display: grid;
  grid-template-columns: 0.5rem 1fr 0.5rem;
  grid-template-rows: auto;
}

.humanResources-section {
  grid-column: 2/3;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.humanResources-container {
  flex: 1 0 26%;
  flex-basis: 54%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.humanResources-container img {
  height: 200px;
  transition: 500ms;
}

.humanResources-container p {
  text-align: center;
  font-size: 0.9rem;
  white-space: nowrap;
  transition: 500ms;
}

@media screen and (min-width: 969px) {
  .humanResources-grid {
    grid-template-columns: 10rem 1fr 10rem;
  }

  .humanResources-container {
    flex-basis: 34%;
  }
}

@media screen and (min-width: 1300px) {
  .humanResources-container {
    flex-basis: 30%;
  }
}

@media screen and (max-width: 354px) {
  .humanResources-grid {
    grid-template-columns: 0.2rem 1fr 0.2rem;
  }

  .humanResources-container img {
    height: 160px;
  }

  h2 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 0.75rem;
  }

  .humanResources-container p {
    font-size: 0.7rem;
  }
}

/* .container {
  margin: auto;
  max-width: 70.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 1.4rem;
  padding-bottom: 30px;
}

.inspiration {
  color: rgb(80, 65, 57);
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.inspiration img {
  height: 210px;
}

.inspiration p {
  text-align: center;
  font-size: 12px;
  padding-bottom: 10px;
  color: rgb(80, 65, 57);
}

#inspi p {
  text-align: center;
  font-size: 16px;
  color: rgb(80, 65, 57);
}

#inspi2 p {
  text-align: center;
  font-size: 16px;
  font-family: "brandon-grotesque", sans-serif;
  color: rgb(80, 65, 57);
}

.container div {
    width: 33%;
}

.container p {
    margin: 0px 30px;
} */

.contact-button {
  display: flex;
  justify-content: center;
  width: 150px;
  border-radius: 100vh;
  background-color: #E85C54;
  margin: auto;
  margin-bottom: 90px;
  margin-top: 60px;
  border: solid 2px #E85C54;
  font-weight: 600;
  transition: 350ms;
}

.contact-button:hover,
.contact-button:active {
  background-color: var(--clr-white);
}

.contact-button:hover>a,
.contact-button:active>a {
  color: #E85C54;
}


.contact-button a {
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px;
  color: var(--clr-white);
  transition: 350ms;
}

.main-flex-container-footsies {
  padding: 3rem 5rem 3rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin-top: 5rem; */
  background-color: #383838;
  text-decoration: none;
  color: #E5E5E5;
}

.main-flew-container-footsies a {
  text-decoration: none;
  color: #E5E5E5;
}

.quote {
  color: white;
}

.quote-p {
  background-color: #435A70;
  padding: 20px 0px;
}

.qmark-left {
  display: flex;
  justify-content: left;
  font-size: 6.25rem;
  height: 80px;
  margin-left: 25%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.quote-text {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1.25rem;
  font-style: italic;
}

.qmark-right {
  display: flex;
  justify-content: right;
  font-size: 6.25rem;
  height: 80px;
  margin-right: 25%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


























.flex-container-top {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.topbois {
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  align-items: center;
}

.mailerman {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;

}

.numeral {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.lines-of-code {
  height: 0.31rem;
}

.flex-container-bot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2rem;
}

.footlocker-nav a {
  text-decoration: none;
  color: #E5E5E5;

}

.footer-image {
  height: 1.5rem;
  padding-right: 1rem;
  position: relative;
}

.socials-footlocker {
  padding-right: 7rem;
}

#contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #565966;
  border-radius: 4px;
  width: 37%;
  margin: auto;
  padding: 20px;
  margin-top: 100px;
  /*skal slettes*/
}

#contact-form textarea {
  border: 1px solid #565966;
  width: 86%;
  height: 100px;
  padding: 5px;
  resize: none;
  border-radius: 4px;
  margin: 20px;
  margin-top: 40px;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.938rem;
}

#contact-header {
  align-self: flex-start;
  margin: 40px;
}

.input-row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-row input {
  border: none;
  border-bottom: 1px solid #565966;
  width: 40%;
  height: 40px;
  margin: 20px;
  padding-left: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.938rem;
}

#check {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  margin: 45px;
}

#contact-form-button {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.938rem;
  color: white;
  align-self: flex-start;
  width: 150px;
  border: none;
  border-radius: 50px;
  background-color: #E85C54;
  margin-bottom: 40px;
  margin-left: 45px;
}

input[type="checkbox"] {
  appearance: none;
  margin: 0;
  font: inherit;
  width: 18px;
  height: 18px;
  border: 1px solid #565966;
  border-radius: 4px;
  transform: translateY(-0.075em);
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 12px;
  height: 12px;
  transform: scale(0);
  box-shadow: inset 16px 16px #E85C54;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}